body {
  background: whitesmoke;
}

img {
  width: 100%;
}

h1, h3 {
  color: #4aaaa5;
  font-family: serif;
  font-weight: 600;
}

.navbar {
  padding: 0;
  background: #4aaaa5;
}

.navbar-brand {
  background: #4aaaa5;
  color: white !important;
  font-family: serif;
  font-weight: 600;
  font-size: 1.5em;
  margin-left: 20px;
}

.dropdown-menu {
  border: none;
}

.dropdown {
  margin-top: 10px;
}

.dropdown-item {
  color: rgba(0,0,0,.55);
  padding-left: 30px;
}

.dropdown-toggle.show {
  background: lightgray;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #4aaaa5;
}

.navbar-light .navbar-toggler {
  border-color: lightgray;
  margin: 10px 20px;
}

.navbar-nav {
  border-bottom: 1px solid lightgray;
}

.hidden-line {
  display: inline-block;
}

.table-responsive {
  border: 1px solid lightgray;
}

.first {
  border-bottom: 2px solid lightgray !important;
}

@media (min-width: 992px) {
  .navbar {
    background: white;
  }
  .navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-nav {
    border-bottom: none;
    margin-right: 20px;
  }
  .dropdown {
    margin-top: 0;
  }
  .dropdown-item {
    padding-left: 20px;
  }
  .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 1px solid lightgray;
    border-radius: 0 0 5px 5px;
  }
  .dropdown-menu[data-bs-popper] {
    margin-top: 0;
  }
  .hidden-line {
    display: none;
  }
  .table-responsive {
    border: none;
  }
}