body {
  background: whitesmoke;
}

.navbar {
  padding: 0;
  background: #4aaaa5;
}

.navbar-brand {
  background: #4aaaa5;
  color: white !important;
  padding-left: 1em;
  padding-right: 1em;
  font-family: serif;
  font-weight: 600;
  font-size: 1.5em;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #4aaaa5;
}

.navbar-light .navbar-toggler {
  border-color: lightgray;
}

@media (min-width: 992px) {
  .navbar {
    background: white;
  }
}

h1, h3 {
  color: #4aaaa5;
  font-family: serif;
  font-weight: 600;
}